<li>
	{{name}}

	<button class="change-eaten" data-id="{{id}}" data-neweaten="{{eaten}}">
		{{#if eaten}}Eat Me!{{/if}}
		{{!-- {{#if eaten}}Eat Me!{{else}}Regurgitate Me!{{/if}} --}}
	</button>
</li>
